.Page-header {
    position: relative;
    top:2px;
    color: white;
    font-size: calc(80px + 2vmin);
  }

.page-button {
  position: fixed;
  right: 20px; 
  bottom: 20px;
}

.outfit-button {
  position: absolute;
  bottom: 20px;
  left: 650px;
}