.App {
  text-align: center;
  background-color: #6e95e2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Page-header {
  position: relative;
  top:2px;
  color: white;
  font-size: calc(80px + 2vmin);
}
